{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    {%  for category in categories %}
        <category>
            <h2>{{ category.title }}</h2>
            <h2>{{ category.description }}</h2>
        </category>
    {% endfor %}
{% endblock %}